{% extends 'adminindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="add_crops1">

<table class="table table-hover table-striped">
  <tr>
    <th scope="row">Crop name </th>
    <td>      <label>
        <input type="text" name="textfield" required/>
        </label>
      </td>
  </tr>
  <tr>
    <th scope="row">Details</th>
    <td>
      <label>
        <input type="text" name="textfield2" required/>
        </label>
      </td>
  </tr>
  <tr>
    <th colspan="2" scope="row">
      <label>
        <input type="submit" name="Submit" value="Add" />
        </label>
    </th>
  </tr>
</table>
</form>
</body>
{% endblock %}