{% extends 'adminindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="editpolicy1">
  <table width="200" border="1">
    <tr>
      <th scope="row">policy</th>
      <td><label>
        <input type="text" name="textfield" value="{{val['policy']}}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">details</th>
      <td><label>
        <input type="text" name="textfield2"  value="{{val['details']}}" required  />
      </label></td>
    </tr>
    <tr>
      <th scope="row">date</th>
      <td><label>
        <input type="text" name="textfield3"   value="{{val['date']}}" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="update" />
      </label></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}