<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <th scope="row"><p align="center"><a href="manage_expert">Add &manage expert </a></p>      </th>
      </tr>
      <tr>
        <th scope="row"><div align="center"><a href="view_farmers">View farmers</a></div></th>
      </tr>
      <tr>
        <th scope="row"><p align="center"><a href="manage_gov_policies">Add & Manage government policies </a></p>  </th>
      </tr>
      <tr>
        <th scope="row"><div align="center"><a href="manage_crop_details">Add&Manage crop details</a></div></th>
      </tr>
      <tr>
        <th scope="row"><div align="center"><a href="manage_notifications">Add&Manage Notification </a></div></th>
      </tr>
      <tr>
        <th scope="row"><a href="view_complaints">View complaints &amp; send reply </a></th>
      </tr>
      <th scope="row"><a href="view_feedback">View Feedback</a> </th>
    </tr>
      <tr>
        <th scope="row"><div align="center"><a href="login"></a><a href="#">LOGOUT</a></div></th>
      </tr>
      </table>
  </div>
  <div align="center"></div>
</form>
</body>
<!--</html>-->
{% endblock %}