{% extends 'adminindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="add_gov_policy">
  <table  class="table table-dark table-striped" width="525" height="130" border="1">
    <tr>
      <td width="113" height="37">Policies</td>
      <td width="143">details</td>
      <td width="99">date</td>
      <td width="142">&nbsp;</td>
    </tr>
    {% for  i in val %}
    <tr>
      <td>{{i['policy']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['date']}}</td>
      <td><p><a href="editpolicy?id={{i ['g_id' ]}}#about">edit</a></p>
      <p><a href="delete_gov_policy?id={{i ['g_id' ]}}">delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <th height="27" colspan="5" scope="row"><label>
        <input type="submit" name="Submit" value="Add" />
      </label></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}