{% extends 'adminindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="send_reply1">
  <table class="table table-dark table-striped" width="200" border="1">
    <tr>
      <th scope="row">reply</th>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="send" />
      </label></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}