<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'userindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-hover table-striped" width="431" border="1">
    <tr>
      <th width="134" scope="row">EXPERT NAME </th>
      <td width="138">FARMING METHOD </td>
      <td width="91">DETAILS</td>
      <td width="40">DATE</td>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">{{i['fname']}}</th>
      <th scope="row">{{i['fmethod']}}</th>
      <td>&nbsp;{{i['details']}}</td>
      <td>&nbsp;{{i['date']}}</td>

    </tr>
     {% endfor %}

  </table> 
</form>
</body>
<!--</html>-->
{% endblock %}
